* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}


:root {
    --dark-color: #1b1210;
    --red-color: #6d031c;
    --light-color: #d2d2c9;
    --brown-color:#673e37;
    --links-font-size: 20px;
    --white: #eeeeee;
}

a {
    text-decoration: none;
    color: var(--white);
}
a:hover {
    color:var(--light-color);
}
body {

    display: flexbox;
    flex-direction: column;
    background-color: var(--white);
}

header {
   
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 10px 5%;
    width: 80%;
    margin: auto;
    background-color: var(--dark-color);
    border-radius: 0px 0px 40px 40px;
    color: var(--light-color);
}

.header__img {
    width: calc(50px + 5%) ;

}

.header__nav-bar {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-self: flex-end;
    font-size: var(--links-font-size);
    padding-bottom: 5px;
    padding-right: 60px;
}


.about {
    width: 75%;
    margin: 40px auto;
    text-align: center;
    padding: 0px 10%;
    font-size: 21px;
    line-height: 1.5;
}


.video {
    
    display: flex;
    width: 75%;
    justify-content: center;
    margin: 60px auto;
}

.video > iframe {
    width: 50%;
    height: 300px;
}

#form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 70%;
   margin: 40px auto;
   background-color: var(--light-color)
}
#form > * {
    
    font-size: 22px;
    margin: 5px 0px;
    height: 50px;
    
}
#form input {
    width: 300px;
    height: 40px;
   padding-left: 10px;
}

#form label {
    margin-bottom: 10px;
}


.products {
    width: 80%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    gap: 2%;
}

.products img {
    max-width: 500px;
    width: 70%;
    
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border: 2px solid var(--red-color);
    padding-top: 10px;
}

.product > * {
    margin-bottom: 10px;
}

.product > form {
    width: 100%;
}

.product > form > button {
    width: 60%;
    height: 45px;
    background-color: var(--red-color);
    color: var(--light-color);
    font-size: 20px;
}

footer {
    height: 200px;
    display: flex;
    
}


footer > div {
    background-color: var(--brown-color);
    width: 80%;
    height: 80px;
    align-self: flex-end;
    margin: 0px auto;
    border-radius: 20px 20px 0px 0px;

    display:flex;

}

footer > div > a {
   
   margin: 20px 0px 0px 90%;
    height: max-content;
   color: var(--light-color);
   font-size: 30px;

}